MetaIssue: New Version OEMetadata 2.1

## Description of the issue

In order to be compatible with DataCite and CKAN/LDM, we need the predictable improvement of OEMetadata 2.0.4
The ongoing implementation of datasets on the OEP, where datasets are represented as structural elements of database tables, reveals structural limitations and schema misalignments that necessitate this revision.
Adding new modules for subdomains like Measurement data, Transport, Provenience, Processing

## ISSUES

- https://github.com/OpenEnergyPlatform/oemetadata/issues/295
- https://github.com/OpenEnergyPlatform/oemetadata/issues/293
- https://github.com/OpenEnergyPlatform/oemetadata/issues/290
- https://github.com/OpenEnergyPlatform/oemetadata/issues/289
- https://github.com/OpenEnergyPlatform/oemetadata/issues/278
- https://github.com/OpenEnergyPlatform/oemetadata/issues/276
- https://github.com/OpenEnergyPlatform/oemetadata/issues/222
- https://github.com/OpenEnergyPlatform/oemetadata/issues/134
- https://github.com/OpenEnergyPlatform/oemetadata/issues/227

## MODULES
- https://github.com/OpenEnergyPlatform/oemetadata/issues/297
- https://github.com/OpenEnergyPlatform/oemetadata/issues/298
- https://github.com/OpenEnergyPlatform/oemetadata/issues/299
- https://github.com/OpenEnergyPlatform/oemetadata/issues/300
- https://github.com/OpenEnergyPlatform/oemetadata/issues/301

## Workflow checklist

- [x] I am aware of the workflow in [CONTRIBUTING.md](https://github.com/OpenEnergyPlatform/oemetadata/blob/production/CONTRIBUTING.md)


A first draft of the new version is here:
https://github.com/OpenEnergyPlatform/oemetadata/blob/feature-296-v210/oemetadata/v2/v21/metadata_key_description.md

CHANGELOG:

## 1 Add `version` to **Dataset**
- Definition: A version string identifying the version of the package.
- Example: 0.1.0
- RDF: [dcat:version](https://www.w3.org/ns/dcat#version)
- Badge: Silver
Comment: Highly needed.

## 2 Add `image` to **Dataset**
- Definition: An image to use for this data package.
- Example: https://openenergyplatform.org/static/img/about/OpenEnergyFamily_GroupPhoto2.png
- RDF: [schema.org:image](https://schema.org/image)
- Badge: Gold
Comment: Great future feature for the OEP. Are there good examples or tutorials how to create these kinds of images?

## 3 Move `languages` to **Dataset**
- Definition: An array of languages used within the described data structures (e.g. titles, descriptions). The language key can be repeated if more languages are used. Standard: IETF (BCP47)
- Example: en-GB, de-DE
- RDF: [dct:language](http://purl.org/dc/terms/language)
- Badge: Gold
Comment: Description is too long. shorten!

## 4 Copy `subject` and `keywords` to **Dataset**
- Definition: An array of objects that references to the subjects of the resource in ontology terms.
- Definition: An array of freely selectable keywords that help with searching and structuring.
- Example: example, ODbL-1.0, NFDI4Energy
- RDF: [rdfs:label](https://www.w3.org/2000/01/rdf-schema#/label)
- RDF: [dcat:keyword](http://www.w3.org/ns/dcat#keyword)
- Badge: Silver / Platinum
Comment: They are both useful on dataset and table. Should be synchronized. Like the dataset aggregates from all resources. 
Separate in schema structure and reuse.

## 5 Move `context` to **Dataset**, rename `projectContext`
- Definition: An object that describes the general setting, environment, or project leading to the creation or maintenance of this dataset. In science this is can be the research project.
- Badge: Gold
Comment: In most cases the project context is the same for all tables in a dataset. Proposed rename because it confuses with `@context`. 

## 6 Move `contributors` to **Dataset**
- Definition: An array of objects of the people or organizations who contributed to the data or metadata. Should have "Date of data creation" and "Date of metadata creation"
- Badge: Bronze
- [ ] Enforce dataset creator and resource creator.
Comment: DataCite wants a `creator` and `date` for the dataset. This is redundant to the information in contributors. `roles` = "dataset creator".

## 7 Copy `datasetLicenses` to **Dataset**
- Definition: An array of objects of licenses under which the described dataset is provided.
- Badge: Bronze
Comment: There are meta^4 licenses now: dataset, resource, source, metadata

## 8 Copy `review` to **Dataset**
- Definition: The metadata on the OEP can go through an open peer review process.
Comment: Is already implemented for tables, further thinking and development needed here!

## 9 Remove `languages` from **resource**
Comment: Moved to dataset.

## 10 Rename `licenses` to `resourceLicenses`
Comment: Harmonize naming.







I could implement all discussed changes for the new version.
Please revise, test and comment!

https://github.com/OpenEnergyPlatform/oemetadata/blob/feature-296-v210/oemetadata/v2/v21/template.json

https://github.com/OpenEnergyPlatform/oemetadata/blob/feature-296-v210/oemetadata/v2/v21/example.json

In line 2: I would replace the context hosted on git to a context hosted on moss.openenergyplatform.org to get a proper delivered application/json+ld response. 

Something else came to my mind which we may also need, something like a sample identifier. If you are analyzing a specific sample or probe in an experiment, this is something you might want so search for. We may need another module as for samples and probes. Our HMC colleaques at HZDR work with samples.

I am reading through the git diff right now to see the adjustment. In regard to the context prefix URLs I have two more changes in my local copy. I did them a while ago and i think I wrote an Email about it but I don't recall the background any more.

Anyway I would add the following two changes:

context.json
```
-    "cco": "https://terminology.tib.eu/ts/ontologies/cco",
+    "cco": "https://www.commoncoreontologies.org/",
-    "ncit": "http://purl.obolibrary.org/obo/ncit.owl",
+    "ncit": "http://purl.obolibrary.org/obo/",
```
Do you want me to push that directly to the feature branch?


After the NFDI4Energy measure 4.3 meeting today, I spent some time looking into referencing and "level-of-detail"ing json schemas. This does not directly attribute towards the 2.1 release but I think it can be relevant for the discussions with TA8 and integrating OEMetadata in the LDM. Though this effectively still means that we would allow most metadata keys on both dataset and resource level. The main arguments against allowing most meta keys on both levels is the growth of the schema such that it might hinder using the metadata schema alltogether, as well as the the statement that most detailed information does not apply to a collection of files but rather a single file. There have been several arguments made for both sides but I won't go into more details here. We can do that in one of the next meetings.

Here are some of my thoughts:

**Part 1- multiple levels of detail for the current modules (e.g. spatial, temporal, provenance, general, etc.).**

The idea was brought up by @Ludee during the meeting today.
This goes into the direction of simplyfing things down if we assign them on dataset level such that we actually have a more lightweight OEMetadata instead of a heavier one.

This could look something like this for a module on geodata:
```json
{
  "$schema": "https://json-schema.org/draft/2020-12/schema",
  "$id": "geodata.json",
  "description": "Geodata Schema",
  "oneOf": [
    {"$ref": "geodata-minimal.json"},
    {"$ref": "geodata-extended.json"}
  ],
  "additionalProperties": true
}
```

So we could then technically use the minimal one on dataset level and the full one at resource level. However, at the moment it is unclear to me how we would decide on what is minimal and what is extended though.
Maybe this is something for future versions.

**Part 2 - referencing to a dedicated modules section in the datapackage that can be resolved to classical OEMetadata**

We could be using "$ref" in json to have reusable parts of the metadata.
This can serve multiple purposes: First, it gives users and platforms the freedom to assign metadata modules at the level of their liking without duplicating what the user has to enter or how forms can present it.
Secondly, it could reduce the size of the actual JSON files (while the schema itself will likely become more complex).
And third, using $ref in JSON allows to resolve them before passing the files through any processing pipeline that would be unhappy with the referenced form (e.g. any frictionless workflows). Though I think the basic structure with resources could still be that same as before as the resource layer is not a module in the classical sense.

The following sample snippet makes use of $ref to reference three different instances of the geodata module, called Germany, France and Europe while the latter is just a list of the previous two (not sure if this list combination is useful though - just an idea).
```json
{
  "spatial": { "$ref": "#/modules/geodata/Europe" },
  "resources": [
    {
      "@id": "data001.csv",
      "spatial": { "$ref": "#/modules/geodata/France" }
    },
    {
      "@id": "data002.csv",
      "spatial": { "$ref": "#/modules/geodata/Germany" }
    },
    {
      "@id": "data003.csv",
      "spatial": { "$ref":  "#/modules/geodata/Germany" }
    }
  ],
  "modules": {
    "geodata": {
      "France": {
        "location": {
          "name": "France"
        }
      },
      "Germany": {
        "extent": {
          "longitude": 42,
          "latitude": 21
        }
      },
      "Europe": [
        {"$ref": "#/modules/geodata/France"},
        {"$ref": "#/modules/geodata/Germany"}
      ]
    }
  }
}
```
This can be resolved to an unreferenced json file using a few lines of python code with the `jsonref` package. Unfortunately there is no CLI version at the moment.

For demo purposes I also implemented a json-schema for this "slim" version of the metadata record. The key here is to combine the existing json schema with something that checks for the correct use of the refs.

```json
{
"$defs": {
    "geodata-ref": {
      "type": "object",
      "required": ["$ref"],
      "additionalProperties": false,
      "patternProperties": {
        "^\\$ref$": {
          "type": "string",
          "format": "uri-reference",
          "pattern": "^#/modules/geodata/.+$"
        }
      }
    }
  }
}
```


To be fair these proposals are not making the schema simpler on JSON level - however, it allows the reuse of one module record for many resources and the dataset itself. Which makes the overall JSON shorter.

Whether this makes sense in general and for which release of OEMetadata must be further discussed.


I believe this would go a clear step towards real modularization and therefore alignment with other services like AIMS.

> I am reading through the git diff right now to see the adjustment. In regard to the context prefix URLs I have two more changes in my local copy. I did them a while ago and i think I wrote an Email about it but I don't recall the background any more.
> 
> Anyway I would add the following two changes:
> 
> context.json
> 
> ```
> -    "cco": "https://terminology.tib.eu/ts/ontologies/cco",
> +    "cco": "https://www.commoncoreontologies.org/",
> -    "ncit": "http://purl.obolibrary.org/obo/ncit.owl",
> +    "ncit": "http://purl.obolibrary.org/obo/",
> ```
> 
> Do you want me to push that directly to the feature branch?

I think submitting a PR would be good, as we all would then see the actual implications of the code changes. This is a quite focused change where not much discussion is needed. 

BTW I always tested the json-lb in the JSON-LD playground. If everything works, I consider it valid. If your changes work there, we can straight up merge them. 

@Cpprentice 

Both new links do fail for me, while the existing resolve to the expected ontologies (CCO and NCIT).
https://www.commoncoreontologies.org/ `404: Not Found`
http://purl.obolibrary.org/obo/ `404`

https://github.com/OpenEnergyPlatform/oemetadata/issues/296#issuecomment-4179158315
As stated, this comment is out of scope for this upcoming version.


This issue is already quite a mess. I will cherry-pick the commits into separate branches and create PR.

> Both new links do fail for me, while the existing resolve to the expected ontologies (CCO and NCIT). https://www.commoncoreontologies.org/ `404: Not Found` http://purl.obolibrary.org/obo/ `404`

@Ludee I just had a look into the changes of the prefix urls:
JSON-LD seems to accept only prefix URLs that end with the "gen-delims" marker from RFC3986 so the existing prefix urls are not valid.
[JSON-LD 1.1 Spec](https://www.w3.org/TR/json-ld11/#example-32-using-vocabularies)
[RFC 3986 Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2)

And if you use the prefixes in the context for NCIT
e.g. http://purl.obolibrary.org/obo/NCIT_C165054

I do get a resolvable URL. Which is probably what we want in the context.json.

For the cco you are right - i think their resolution mechanism is broken right now.
The prefix they use themselves is 
https://www.commoncoreontologies.org/

which yields 404 and even with attached concept like ont00000469 it still yields a 404.
So here we can stick with the terminology service URL but we might add a trailing slash or # char to be conform with RFC3986. That still resolves for me. But we can't resolve individual concepts like that.




2026-04-23 Review Draft for OEMetadata 2.1 together with TA8

- Discuss the current status of OEMetadata 2.1
- Still some open points that need to be resolved before we can release 2.1
- Several attributes moved to the dataset level -> helpful for LDM and COSCINE
- Number of fields is an inhibitor for filling metadata at all.
- Handling of duplicate keys like subject or keywords (on both resource and dataset level) 
  - User decides
  - Bottom up aggregieren (aber noch manuelle keys adden)
  - Top Down vererben
  - 2nd and 3rd option is implemented only in tooling -> for templates or editing in an editor. The schema itself is unconstrainted. Tools can have different approaches for constraints and that is fine.
  - dataset attributes receive the dataset prefix e.g. datasetSubjects
- Provenance is not directly compatible between Data Package, Datacite and DCAT. 
  - Legal issue between dataset creator, and data owner, data created by devices are generally free.
  - Alexandro wants to keep the legal parts out as much as possible 
    - Lawyer was consulted for the creation of oemetadata 2.0
  - Datacite sets creator and Urheber gleich was eigentlich nicht korrekt ist
  - How do we solve this for LDM where author is mandatory? 
    - Fixed entry creation from creator field to a contributor record with fixed dataset object and creator role.
    - additonal fields for data and metadata contributor roles can be generated but only in the knowledge graph
  - contributor entries do now have a target object that the contribution is meant for (e.g. data, metadata).
  - contributor roles partially follow datacite specification (only a subset) and we also add the "creator" role - which still requires a formal defintion
- Licenses are on both levels now 
  - rights from datacite needs to be mapped including the name of the contributor with role creator on the dataset object (because CC by needs that)
- Embaro stays on resource level 
  - Metadata should be public and just data is embargoed
  - Not implemented in LDM right now
- geodata 
  - important on resource level
  - only useful on dataset level
  - has many keys which is hard for duplicating
  - how does this work for LDM? 
    - Some information is useful for searching on the LDM.
    - a controlled term for a region / extent e.g. europe, germany is probably enough for dataset level (name and ontology term)
    - Geographic info could be added as small own attribute (closely related to subjects to.)
  - Tools can do geocoordinate matching -> that is a tool specific feature
  - Controlled vocabulary is probably better than free text but name is still okay to support users
  - We implement lightweight extent on dataset level with an @id and name
- temporal 
  - We only use reference date for LDM as datasetReferenceDate
- Additional new challenges are the new modules (the new feature of 2.1) 
  - DataTransformation, transport system, advanced provenience, energy system, measurement
  - Energy system 
    - could be on dataset
- Module has open issues with the ontology terms -> such that we find suiting terms 